<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{220,188}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{220,188}}</string>
                <key>sourceSize</key>
                <string>{224,274}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{210,184}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,42},{210,184}}</string>
                <key>sourceSize</key>
                <string>{224,274}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,474},{218,206}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{218,206}}</string>
                <key>sourceSize</key>
                <string>{224,274}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{156,248}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{156,248}}</string>
                <key>sourceSize</key>
                <string>{224,274}</string>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{192,234}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{192,234}}</string>
                <key>sourceSize</key>
                <string>{224,274}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,358},{50,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,92}}</string>
                <key>sourceSize</key>
                <string>{50,92}</string>
            </dict>
            <key>football.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,186},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,338},{134,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{134,170}}</string>
                <key>sourceSize</key>
                <string>{146,170}</string>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{116,164}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{116,164}}</string>
                <key>sourceSize</key>
                <string>{146,170}</string>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,14},{114,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{114,170}}</string>
                <key>sourceSize</key>
                <string>{146,170}</string>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,168},{142,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,168}}</string>
                <key>sourceSize</key>
                <string>{146,170}</string>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,186},{96,170}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{96,170}}</string>
                <key>sourceSize</key>
                <string>{146,170}</string>
            </dict>
            <key>pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,378}}</string>
                <key>sourceSize</key>
                <string>{10,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>picture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a8b65d164a97a56e7d8555ca34b1f8$</string>
            <key>textureFileName</key>
            <string>picture.png</string>
        </dict>
    </dict>
</plist>
